<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean name="application.properties" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/application.properties</value>
		</property>
	</bean>
	<bean name="infra.properties" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/infra.properties</value>
		</property>
	</bean>
	<bean name="ambiente.properties" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/ambiente.properties</value>
		</property>
	</bean>
	<bean name="environmentParameter" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/environmentParameter</value>
		</property>
	</bean>
	<bean name="variablePreExternalLocation" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/variablePreExternalLocation</value>
		</property>
	</bean>

		<bean id="placeholderConfig" class="cbss.util.CBSSPropertyPlaceholderConfigurer">
		<property name="environmentParameter">
			<ref bean="environmentParameter"/>
		</property>
		<property name="variablePreExternalLocation">
			<ref bean="variablePreExternalLocation"/>
		</property>
		<!-- <property name="externalLocation"><value>/suportedbdc_apl/ibpf/aplicativo_exemplo/config/application.properties</value></property> -->
		<property name="locations">
			<list>
				<!-- <value>/WEB-INF/application.properties</value> -->
				<!-- <value>classpath*:config/application.properties</value> -->
				<ref bean="application.properties" />
				<ref bean="ambiente.properties"></ref>
				<ref bean="infra.properties"></ref>

			</list>
		</property>
		<property name="systemPropertiesModeName">
			<value>SYSTEM_PROPERTIES_MODE_NEVER</value>
		</property>
		<property name="ignoreUnresolvablePlaceholders">
			<value>false</value>
		</property>
	</bean>

</beans>
