<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Para integração com struts, quando configurada uma Action /xxx, deverá 
		ser criado um bean com "NAME=xxx" (Atenção: o bean deverá definir name e 
		não id) -->

	<bean name="/alterarsenha/verificaSenha" class="cbss.util.VerificaSenhaAjaxAction">
		<property name="parametrizacaoService" ref="parametrizacaoService" />
		<property name="loginService" ref="loginServiceEJB" />
	</bean>

	<bean name="/alterarsenha/dados"
		class="cbss.login.apresentacao.alterarsenha.DadosAlterarSenhaAction">
		<property name="perfilService" ref="perfilServiceEJB" />
		<property name="parametrizacaoService" ref="parametrizacaoService" />
	</bean>

	<bean name="/alterarsenha/conclusao"
		class="cbss.login.apresentacao.alterarsenha.ConclusaoAlterarSenhaAction">
		<property name="perfilService" ref="perfilServiceEJB" />
		<property name="loginService" ref="loginServiceEJB" />
		<property name="parametrizacaoService" ref="parametrizacaoService" />
		<property name="loggerService" ref="loggerService" />
	</bean>



	<bean name="/alterarsenha/dadosAcesso"
		class="cbss.login.apresentacao.alterarsenha.DadosAcessoAction">
		<property name="perfilService" ref="perfilServiceEJB" />
		<property name="parametrizacaoService" ref="parametrizacaoService" />
	</bean>

	<bean name="/alterarsenha/altPerguntaSeguranca"
		class="cbss.login.apresentacao.alterarsenha.AlterarPerguntaSegurancaAction">
		<property name="perguntaSecretaService" ref="perguntaSecretaServiceEJB" />
	</bean>

</beans>
